<html>
<head>
</head>
<body>
<textarea id="sender" style="width: 50%;height: 100%;">

</textarea>

<script>
    for (i = 0; i < 1; i++) {
        let id = randomNum(10, 10000000);
        testclient(id);
    }

    function testclient(ids) {
        let ws = eval("var ws" + ids);
        ws = new WebSocket("ws://8.218.60.182:18080/message_websocket?userId=" + ids);
        //申请一个WebSocket对象，参数是服务端地址，同http协议使用http://开头一样，WebSocket协议的url使用ws://开头，另外安全的WebSocket协议使用wss://开头
        ws.onopen = function () {
            //当WebSocket创建成功时，触发onopen事件
            console.log("open");
            let login = {
                userId: ids,
                type: 13,
                orderId: randomNum(10, 1000000000),
            };
            console.log(login);
            ws.send(JSON.stringify(login)); //将消息发送到服务端
        };
        ws.onmessage = function (e) {
            //当客户端收到服务端发来的消息时，触发onmessage事件，参数e.data包含server传递过来的数据
            console.log(e.data);
        };
        ws.onclose = function (e) {
            alert('连接断开');
            //当客户端收到服务端发送的关闭连接请求时，触发onclose事件
            console.log("close");
        };
        ws.onerror = function (e) {
            alert('发送失败');
            //如果出现连接、处理、接收、发送数据失败的时候触发onerror事件
            console.log(error);
        };
        setInterval(function () {
            let login = {
                userId: ids,
                type: 13,
                orderId: randomNum(10, 1000000000),
            };
            ws.send(JSON.stringify(login)); //将消息发送到服务端
        }, 10000);

        setInterval(function () {
            // let login = {
            //     userId: ids + "",
            //     type: 13 + "",
            //     orderId: randomNum(10, 1000000000) + "",
            // };

            let login = {
                username:"admin",
                password:"123456"
            };

            document.getElementById("sender").append(JSON.stringify(login));
            ws.send(JSON.stringify(login)); //将消息发送到服务端


            /*请求调用*/
            httpRequest({"data": login, "httpUrl": "https://staging.resiklos.app/api/v1/user/admin/login"}, function (respondDada) {
                //这里编写成功的回调函数
                console.log(respondDada)
            }, function () {
                alert('网络错误')
            });


        }, 1000);

    }

    //生成从minNum到maxNum的随机数
    function randomNum(minNum, maxNum) {
        switch (arguments.length) {
            case 1:
                return parseInt(Math.random() * minNum + 1, 10);
                break;
            case 2:
                return parseInt(Math.random() * (maxNum - minNum + 1) + minNum, 10);
                break;
            default:
                return 0;
                break;
        }
    }

    function httpRequest(paramObj, fun, errFun) {
        var xmlhttp = null;
        /*创建XMLHttpRequest对象，
         *老版本的 Internet Explorer（IE5 和 IE6）使用 ActiveX 对象：new ActiveXObject("Microsoft.XMLHTTP")
         * */
        if (window.XMLHttpRequest) {
            xmlhttp = new XMLHttpRequest();
        } else if (window.ActiveXObject) {
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        /*判断是否支持请求*/
        if (xmlhttp == null) {
            alert('你的浏览器不支持XMLHttp');
            return;
        }
        /*请求方式，并且转换为大写*/
        var httpType = (paramObj.type || 'POST').toUpperCase();
        /*数据类型*/
        var dataType = paramObj.dataType || 'json';
        /*请求接口*/
        var httpUrl = paramObj.httpUrl || '';
        /*是否异步请求*/
        var async = paramObj.async || true;
        /*请求参数--post请求参数格式为：foo=bar&lorem=ipsum*/
        var paramData = paramObj.data || [];
        var requestData = '';
        for (var name in paramData) {
            requestData += name + '=' + paramData[name] + '&';
        }
        requestData = requestData == '' ? '' : requestData.substring(0, requestData.length - 1);
        console.log(requestData)

        /*请求接收*/
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                /*成功回调函数*/
                fun(xmlhttp.responseText);
            } else {
                /*失败回调函数*/
                errFun;
            }
        }

        /*接口连接，先判断连接类型是post还是get*/
        if (httpType == 'GET') {
            xmlhttp.open("GET", httpUrl, async);
            xmlhttp.send(null);
        } else if (httpType == 'POST') {
            xmlhttp.open("POST", httpUrl, async);
            //发送合适的请求头信息
            xmlhttp.setRequestHeader("Content-type", "application/json");
            xmlhttp.send(requestData);
        }
    }

</script>
</body>
</html>